<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FootySpace</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>

  <body>

    <section class="section">
      <div class="container has-text-centered">
        <p class="title is-family-sans-serif">Sorry!</p>
        <p class="subtitle is-family-sans-serif"><strong>Something isn't working properly here.
          Shoot me an <a href="mailto:kianchonglow314@gmail.com" target="_blank">email</a> and I'll try to fix it.</strong></p>
      </div>
    </section>

  </body>
</html>
