<body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p class="subtitle">
        FootySpace | Created by Casey Low
      </p>
      <a class="button is-large is-text" href="https://www.linkedin.com/in/kianchonglow" target="_blank">
        <span class="icon">
          <i class="fab fa-linkedin fa-2x"></i>
        </span>
      </a>
      <a class="button is-large is-text" href="mailto:caseylow314@gmail.com" target="_blank">
        <span class="icon">
          <i class="fas fa-envelope-square fa-2x"></i>
        </span>
      </a>
    </div>
  </footer>
</body>
