<body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>FootySpace | Created by K.C. Low</strong>
      </p>
      <a class="button is-large is-text" href="https://github.com/kclow7">
        <span class="icon">
          <i class="fab fa-github fa-2x"></i>
        </span>
      </a>
      <a class="button is-large is-text" href="https://www.linkedin.com/in/kianchonglow">
        <span class="icon">
          <i class="fab fa-linkedin fa-2x"></i>
        </span>
      </a>
      <a class="button is-large is-text" href="mailto:kianchonglow314@gmail.com">
        <span class="icon">
          <i class="fas fa-envelope-square fa-2x"></i>
        </span>
      </a>
    </div>
  </footer>
</body>
